<div class='contact'>
    <navbar></navbar>
    <section class='contact__main'>
        <div class="contact__image"></div>
        <div class="contact__form">
            <h1 class="contact__headingPrimary">PLEASE CONTACT FOR ANY QUERIES OR INTEREST</h1>
            <ul class="contact__social">
                <li class="contact__linkItems">
                    <a href='https://www.youtube.com/channel/UCax8or2_bzQCHe0GdSLITOA' class="contact__links" target="_blank" rel='noreferrer'>
                        <svg class="contact__icon">
                            <use href="../../assets/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="contact__linkItems">
                    <a href='https://codepen.io/yashfalke77' class="contact__links" target="_blank" rel='noreferrer'>
                        <svg class="contact__icon">
                            <use href="../../assets/symbol-defs.svg#icon-linkedin-with-circle"></use>
                        </svg>
                    </a>
                </li>
                <li class="contact__linkItems">
                    <a href='https://www.instagram.com/yashfalke77/' class="contact__links" target="_blank" rel='noreferrer'>
                        <svg class="contact__icon">
                            <use href="../../assets/symbol-defs.svg#icon-youtube-with-circle"></use>
                        </svg>
                    </a>
                </li>
                <li class="contact__linkItems">
                    <a href='https://www.linkedin.com/in/yashfalke77/' target="_blank" rel='noreferrer' class="contact__links">
                        <svg class="contact__icon">
                            <use href="../../assets/symbol-defs.svg#icon-instagram-with-circle"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <h2 class='contact__headingSecondary'>Email: <em class='contact__headingSecondaryDescription'>nikjaiswal21@gmail.com</em></h2>
            <form class="form">
                <div class="form__group">
                    <input name="user_name" type="text" class="form__input" id="name" placeholder="Full Name" required />
                    <label htmlFor="name" class="form__label">Full Name</label>
                </div>
                <div class="form__group">
                    <input type="email" name="user_email" class="form__input" id="email" placeholder="Email Address" required />
                    <label htmlFor="email" class="form__label">Email Address</label>
                </div>
                <div class="form__group">
                    <textarea name="message"  class="form__input" id="email" placeholder="Message" required cols="30" rows="10"></textarea>
                    <label htmlFor="email" class="form__label">Message</label>
                </div>
                <button value="Send" class="contact__button">
                    Send Mail
                </button>
            </form>
        </div>
    </section>
    <footer class="footer">
        All work Copyright <a class='footer__link' href="/">© Nikhil Jaiswal 2022</a> | All rights reserved
    </footer>
</div>