<navbar></navbar>

<main class='work'>
    <section class="work__videos">
        <h1 class='work__heading'>Videos That are Shot and edited by me</h1>
        <div class="work__list">
            <div class="work__items">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/SCG9HWJUoxY?autoplay=1" title="My first camera📸" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="work__items">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/YfG-2Kbhr_c" title="PARLE-G BISCUIT aur PAANI | Nikku Ki Mummy | 01" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="work__items">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/U_xToSbLvxU" title="BACHPAN ka TYOHAAR😍  | CHINCHPOKLI CHA CHINTAMANI | Nikku Ki Mummy | 02" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="work__items">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/fA5AndyTQ8A" title="The war with MIND🤯" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="work__items">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/s9VuFbnZ7Fc" title="The Pink Sweater | Short Film | Nikhil Jaiswal" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="work__items">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Nmcw2JokNIc" title="The BIG ANNOUNCEMENT🤞" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <section class="work__videos">
        <h1 class='work__heading'>Videos That are Shot and edited by me</h1>
        <div class="work__list">
            <div class="work__items">
                <iframe src="https://viteduin59337-my.sharepoint.com/personal/nikhil_jaiswal_vit_edu_in/_layouts/15/embed.aspx?UniqueId=54de77cd-a211-4d73-b030-c38aea3661d3&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=OneUpFileViewer&referrerScenario=EmbedDialog.Create" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen title="CamReel2.mp4"></iframe>
            </div>
            <div class="work__items">
                <iframe src="https://viteduin59337-my.sharepoint.com/personal/nikhil_jaiswal_vit_edu_in/_layouts/15/embed.aspx?UniqueId=246a94cd-786f-489e-b08b-ff2910152ee4&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=OneUpFileViewer&referrerScenario=EmbedDialog.Create" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen title="fx6reel.mp4"></iframe>
            </div>
            <div class="work__items">
                <iframe src="https://viteduin59337-my.sharepoint.com/personal/nikhil_jaiswal_vit_edu_in/_layouts/15/embed.aspx?UniqueId=7690b425-12de-448d-8ac7-30140e8ea6a9&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=OneUpFileViewer&referrerScenario=EmbedDialog.Create" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen title="Kay Reel 004.mp4"></iframe>
            </div>
            <div class="work__items">
                <iframe src="https://viteduin59337-my.sharepoint.com/personal/nikhil_jaiswal_vit_edu_in/_layouts/15/embed.aspx?UniqueId=9b7159db-3f8e-43c3-bfc6-77379be7cbc2&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=OneUpFileViewer&referrerScenario=EmbedDialog.Create" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen title="Kay Reel 01 b&w .mp4"></iframe>
            </div>
            <div class="work__items">
                <iframe src="https://viteduin59337-my.sharepoint.com/personal/nikhil_jaiswal_vit_edu_in/_layouts/15/embed.aspx?UniqueId=74a522e4-b763-4deb-94b8-eb89783aa2a8&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=OneUpFileViewer&referrerScenario=EmbedDialog.Create" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen title="Kay Reel 02.mp4"></iframe>
            </div>
            <div class="work__items">
                <iframe src="https://viteduin59337-my.sharepoint.com/personal/nikhil_jaiswal_vit_edu_in/_layouts/15/embed.aspx?UniqueId=aaa196e5-d354-4a63-97fa-71af56feace8&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=OneUpFileViewer&referrerScenario=EmbedDialog.Create" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen title="Kay Reel 03.mp4"></iframe>
            </div>
            </div>
    </section>
    <section class="work__images">
        <h1 class='work__heading'>Images That are Shot and edited by me</h1>
        <div class="work__images--list">
            <div class="work__images--items">
                <img class="work__images--img" src="https://res.cloudinary.com/dnp4qbrgm/image/upload/v1668241593/Nikhil%20Photos/DSC03319_1_soeyjp.jpg" alt="">
            </div>
            <div class="work__images--items">
                <img class="work__images--img" src="https://res.cloudinary.com/dnp4qbrgm/image/upload/v1668241597/Nikhil%20Photos/DSC03351_mq8o8h.jpg" alt="">
            </div>
            <div class="work__images--items">
                <img class="work__images--img" src="https://res.cloudinary.com/dnp4qbrgm/image/upload/v1668242288/Nikhil%20Photos/DSC03569_1_1_qybdos.jpg" alt="">
            </div>
            <div class="work__images--items">
                <img class="work__images--img" src="https://res.cloudinary.com/dnp4qbrgm/image/upload/v1668241594/Nikhil%20Photos/DSC02824_1_mlbtua.jpg" alt="">
            </div>
            <div class="work__images--items">
                <img class="work__images--img" src="https://res.cloudinary.com/dnp4qbrgm/image/upload/v1668241602/Nikhil%20Photos/DSC02805_anwyu6.jpg" alt="">
            </div>
            <div class="work__images--items">
                <img class="work__images--img" src="https://res.cloudinary.com/dnp4qbrgm/image/upload/v1668241597/Nikhil%20Photos/DSC03365_miqpax.jpg" alt="">
            </div>
        </div>
    </section>
</main>