<navbar></navbar>

<main class='work'>
    <section class="work__videos">
        <h1 class='work__heading'>Videos That are Shot and edited by me</h1>
        <div class="work__list">
            <div class="work__items"></div>
            <div class="work__items"></div>
            <div class="work__items"></div>
            <div class="work__items"></div>
            <div class="work__items"></div>
            <div class="work__items"></div>
        </div>
    </section>
    <section class="work__videos">
        <h1 class='work__heading'>Videos That are Shot and edited by me</h1>
        <ul class="work__list">
            <li class="work__items"></li>
            <li class="work__items"></li>
            <li class="work__items"></li>
            <li class="work__items"></li>
            <li class="work__items"></li>
            <li class="work__items"></li>
        </ul>
    </section>
    <section class="work__videos">
        <h1 class='work__heading'>Videos That are Shot and edited by me</h1>
        <ul class="work__list">
            <li class="work__items"></li>
            <li class="work__items"></li>
            <li class="work__items"></li>
            <li class="work__items"></li>
            <li class="work__items"></li>
            <li class="work__items"></li>
        </ul>
    </section>
</main>