<nav class="navbar">
    <div class="navbar__left">
        <logo></logo>
    </div>
    <div class="navbar__right">
        <a class='navbar__links' routerLink="/" routerLinkActive="navbar__active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a class='navbar__links' routerLink="/work" routerLinkActive="navbar__active" [routerLinkActiveOptions]="{exact:true}">Work</a>
        <a class='navbar__links' routerLink="/about" routerLinkActive="navbar__active" [routerLinkActiveOptions]="{exact:true}">About</a>
        <a class='navbar__links' routerLink="/contact" routerLinkActive="navbar__active" [routerLinkActiveOptions]="{exact:true}">Contact</a>
        <a class='navbar__links' href='https://drive.google.com/file/d/10q2s2K1NZ9z3PSmlw-1cD6nKyCmXrBlA/view?usp=sharing' target="_blank" rel='noreferrer'>Resume</a>
    </div>
</nav>