<div class="home">
    <div class="home__logo">
        <logo></logo>
    </div>
    <iframe
        src="https://viteduin59337-my.sharepoint.com/personal/nikhil_jaiswal_vit_edu_in/_layouts/15/embed.aspx?UniqueId=db825b62-6c3f-4b3b-a4c3-25d0bdcddb48&embed=%7B%22af%22%3Atrue%2C%22ust%22%3Atrue%7D&referrer=OneUpFileViewer&referrerScenario=EmbedDialog.Create"
        width="1050" height="419" frameborder="0" scrolling="no" allowfullscreen title="Introduction"></iframe>
    <a routerLink="/work" class="home__link">Check Out My Work</a>
</div>